<!DOCTYPE html>
<html lang="en">
<head>
	<title>Juke</title>
	<link href="/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
	<link href="/bootstrap-dark.css" rel="stylesheet" />
	<link href="/style.css" rel="stylesheet" />
	<script src="/lodash/index.js"></script>
	<script src="/angular/angular.js"></script>
	<script src="/angular-ui-router/build/angular-ui-router.js"></script>
	<script src="/js/module.js"></script>
	<script src="/js/states/albumstate.js"></script>
	<script src="/js/states/artistSstate.js"></script>
	<script src="/js/controllers/album.js"></script>
	<script src="/js/controllers/albums.js"></script>
	<script src="/js/controllers/player.js"></script>
	<script src="/js/controllers/menu.js"></script>
	<script src="/js/controllers/artist.js"></script>
	<script src="/js/controllers/artists.js"></script>
	<script src="/js/factories/player.js"></script>
	<script src="/js/factories/album.js"></script>
	<script src="/js/factories/song.js"></script>
	<script src="/js/factories/artist.js"></script>
	<base href="http://localhost:1337/#"></base>
</head>
<body ng-app="juke">
	<div id="main" class="container-fluid">

		<div class="col-xs-2">
			<sidebar ng-controller="MenuCtrl">
				<section>
					<h5 class="playlist-item">
						<a ui-sref="albums">ALBUMS</a>
					</h5>
				</section>
				<section>
					<h5 class="playlist-item">
						<a ui-sref="artists">ARTISTS</a>
					</h5>
				</section>
			</sidebar>
		</div>

		<div class="col-xs-10">
			<ui-view>
			</ui-view>
		</div>

		<footer>
			<div ng-controller="PlayerCtrl" ng-show="getCurrentSong()">
				<div class="pull-left">
					<button ng-click="back()" class="btn btn-default">
						<span class="glyphicon glyphicon-step-backward"></span>
					</button>
					<button ng-click="toggle()" class="btn btn-default">
						<span ng-if="!isPlaying()" class="glyphicon glyphicon-play"></span>
						<span ng-if="isPlaying()" class="glyphicon glyphicon-pause"></span>
					</button>
					<button ng-click="forward()" class="btn btn-default">
						<span class="glyphicon glyphicon-step-forward"></span>
					</button>
				</div>
				<div class="bar">
					<div class="progress">
						<div class="progress-bar" ng-style="{width: getPercent()}"></div>
					</div>
				</div>
			</div>
		</footer>

	</div>
</body>
</html>